### Taking input from user

In [1]:
x=input()
print(x)

37.5
37.5

In [2]:
x=input("Please enter a number")
y=x+x
print(y)

Please enter a number16
1616

In [5]:
#typecasting
x=int(input("Please enter a number "))
y=x+x
print(y)
print(type(x))

Please enter a number 16
32
<class 'int'>

## Functions

In [8]:
def my_func():
 print("Let's explore functions")

In [9]:
my_func()

Let's explore functions

In [10]:
#Passing arguments
def my_function(x):
  a=x**2+2*x+5
  print(a)

In [11]:
my_function(10)

125

### Arbitrary arguments: add * before parameter name

In [14]:
def my_function(*kids):
  for i in kids:
    print(i)
  print("The youngest child is ",kids[3])

In [15]:
my_function("Sam","Gunjan","Puja","Anureet","Liba")

Sam
Gunjan
Puja
Anureet
Liba
The youngest child is  Anureet

In [1]:
#add ** before name incase of unknown keyword argument
def my_function(**kids):
  print("Her last name is " + kids["lname"])
my_function(fname="Samantha", lname="Rath")

Her last name is Rath

### Default parameter value

In [2]:
def my_func(age="22"):
  print("My age is ", age)

In [3]:
my_func(27)
my_func()

My age is  27
My age is  22

### Pass statement

In [4]:
def ab():
  pass

In [5]:
ab()

### Lambda

In [6]:
x = lambda a : a*10
print(x(5))

50

## Strings

In [7]:
print("COSMOLOGY")

COSMOLOGY

In [8]:
a="COSMOLOGY"
print(a[3])

M

In [10]:
for x in a:
  print(x)

C
O
S
M
O
L
O
G
Y

In [11]:
lst=[44,7,9,2,6,0,1,6]

In [12]:
lst[3:7]

[2, 6, 0, 1]

In [14]:
lst[-5:-1]

[2, 6, 0, 1]